
<div *ngIf="preloadimg" class="preloadingimg"><img src="./assets/images/icons/preloader.gif"></div>
<section class="page-title" style="background-image:url(./assets/images/background/page-title-1.jpg);">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Title -->
                <div class="title-column col-md-6 col-sm-12 col-xs-12">
                    <h1 class="text-uppercase">My Favorites</h1>
                </div>
            </div>
        </div>
    </section>


  