
<div *ngIf="preloadimg" class="preloadingimg"><img src="./assets/images/icons/preloader.gif"></div>
 <section class="page-title" style="background-image:url(./assets/images/background/page-title-1.jpg);">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Title -->
                <div class="title-column col-md-6 col-sm-12 col-xs-12">
                    <h1 class="text-uppercase">My Purchase History</h1>
                </div>
            </div>
        </div>
</section>
  
<section  class="no_padding purchase-section" id="">
   <div  class="my-purchase-history">
      <div  class="container">
         <h3 >Current Plan</h3>
         <!----><!---->
         <div  class="current-plan-detail ng-star-inserted">
            <div  class="col-sm-12">
               <div  class="row"><label  class="heading">Current Plan</label><span  class="dot">:</span><span  class="planname">Investors Club</span></div>
            </div>
            <div  class="col-sm-12">
               <div  class="row">
                  <label  class="heading">Features</label><span  class="dot">:</span>
                  <span  class="planname">
                     <ul  class="listing">
                        <!---->
                        <li  class="ng-star-inserted">25 Valuation / Analytic reports</li>
                        <li  class="ng-star-inserted">Real Estate legal forms</li>
                        <li  class="ng-star-inserted">Investor Consultants</li>
                        <li  class="ng-star-inserted">Directory Access</li>
                        <li  class="ng-star-inserted">Exclusive Forum</li>
                        <li  class="ng-star-inserted">InvestFar App</li>
                        <li  class="ng-star-inserted">Market data</li>
                        <li  class="ng-star-inserted">Free listing</li>
                        <li  class="ng-star-inserted">Blog</li>
                        <li  class="ng-star-inserted">Newsletter</li>
                        <li  class="ng-star-inserted">Monthly market report alerts</li>
                        <li  class="ng-star-inserted">Investment criteria property match alerts</li>
                        <li  class="ng-star-inserted">Private money introductions or joint ventures</li>
                        <li  class="ng-star-inserted">FREE or discounted real estate seminars and events</li>
                     </ul>
                  </span>
               </div>
            </div>
            <div  class="col-sm-12">
               <div  class="row"><label  class="heading">Valutions Count</label><span  class="dot">:</span><span  class="planname">25 Valuation</span></div>
            </div>
         </div>
         <!---->
         <div  class="purchase-history-list ng-star-inserted">
            <h3 >Purchase History</h3>
            <table >
               <tbody >
                  <tr >
                     <th >Plan Name</th>
                     <th >Price</th>
                     <th >Date</th>
                  </tr>
                  <!----><!---->
                  <tr  class="ng-star-inserted">
                     <td  class="text-center" colspan="3"> No Purchased History</td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</section>

