
<div *ngIf="preloadimg" class="preloadingimg"><img src="./assets/images/icons/preloader.gif"></div>
<section class="page-title" style="background-image:url(./assets/images/background/page-title-1.jpg);">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Title -->
                <div class="title-column col-md-6 col-sm-12 col-xs-12">
                    <h1 class="text-uppercase">My Properties</h1>
                </div>
            </div>
        </div>
    </section>

<section id="" class="no_padding services-listing-bar book-service-bar">
  <div class="book-services-category">
    <div class="container">
      <div class="mh-browse-estate">
        <table>
          <thead>
            <tr class="mh-browse-estate__row">
              <th class="mh-browse-estate__cell-1">
                #
              </th>
              <th class="mh-browse-estate__cell-2 mh-display-desktop">
                Image
              </th>
              <th class="mh-browse-estate__cell-3">
                Title
              </th>
              <!---->
              <th class="mh-browse-estate__cell-4">
                Status
              </th>
              <th class="mh-browse-estate__cell-icon">
                Edit
              </th>
              <th class="mh-browse-estate__cell-icon">
                Delete
              </th>
            </tr>
          </thead>
          <tbody>
            <!--<tr class="mh-browse-estate__row">
              <td colspan="6" class="mh-browse-estate__cell-1 no-data-avilable">
                No Data
              </td>
            </tr>-->
            <tr class="mh-browse-estate__row">
              <td class="mh-browse-estate__cell-1">
              1
              </td>
              <td class="mh-browse-estate__cell-2 mh-display-desktop">
                <a  class="mh-browse-estate__image">
                  <img src="https://investfar-prod-bucket.s3.amazonaws.com/propertyImage/201812062128451544131725j2mqkyuurrhqrlxa2inu5nm9b.png"  alt="p.title" class="Properties-img" width="120px">
                </a>
              </td>
              <td class="mh-browse-estate__cell-3">
              SOLD
              </td>
              <!---->
              <td class="mh-browse-estate__cell-4">
               Rented 
              </td>
              <td class="mh-browse-estate__cell-icon">
               <i _ngcontent-c3="" class="fa fa-edit"></i>
              </td>
              <td class="mh-browse-estate__cell-icon">
                <button class="mh-button-transparent" >
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div>
          <ngb-pagination [collectionSize]="" ></ngb-pagination>
      </div>


    </div>
  </div>
                                                                                                