<div *ngIf="preloadimg" class="preloadingimg"><img src="./assets/images/icons/preloader.gif"></div>
 <section class="page-title" style="background-image:url(./assets/images/background/page-title-1.jpg);">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Title -->
                <div class="title-column col-md-6 col-sm-12 col-xs-12">
                    <h1 class="text-uppercase">My Offered Services</h1>
                </div>
            </div>
        </div>
</section>

<section _ class="no_padding services-listing-bar book-service-bar" id="">
   <div _ class="book-services-category">
      <div _ class="container">
         <ul _ class="services-listing-wrap">
            <!---->
            <li _ class="ng-star-inserted">
               <div _ class="service-listing">
                  <div _ class="services-provider-icon"><img _ alt="img" title="img" src="https://investfar-prod-bucket.s3.us-east-2.amazonaws.com/subCategory/Kitchen_Remodel.png"></div>
                  <div _ class="services-provider-shortdetail">
                     <div _ class="detail">
                        <div _ class="left mr-auto">
                           <h3 _>General Contractor</h3>
                           <span _ class="location-area"><i _ aria-hidden="true" class="fa fa-map-marker"></i> United States</span><!----><span _ class="Price">$65.00 / service</span><!----><span _ class="category-name">Category : General Contractor</span><span _ class="category-name">Sub Category :  Kitchen Remodel</span>
                        </div>
                        <div _ class="right ml-auto"><a _ class="btn request-btn">Edit</a><a _ class="btn book-btn" data-target="#bookModal" data-toggle="modal">Delete</a></div>
                     </div>
                  </div>
               </div>
            </li>
            <li _ class="ng-star-inserted">
               <div _ class="service-listing">
                  <div _ class="services-provider-icon"><img _ alt="img" title="img" src="https://investfar-prod-bucket.s3.us-east-2.amazonaws.com/subCategory/Custom-Home-Build.png"></div>
                  <div _ class="services-provider-shortdetail">
                     <div _ class="detail">
                        <div _ class="left mr-auto">
                           <h3 _>General Contractor</h3>
                           <span _ class="location-area"><i _ aria-hidden="true" class="fa fa-map-marker"></i> United States</span><!----><span _ class="Price">$7,500.00 / service</span><!----><span _ class="category-name">Category : General Contractor</span><span _ class="category-name">Sub Category : Custom Home Build</span>
                        </div>
                        <div _ class="right ml-auto"><a _ class="btn request-btn">Edit</a><a _ class="btn book-btn" data-target="#bookModal" data-toggle="modal">Delete</a></div>
                     </div>
                  </div>
               </div>
            </li>
         </ul>
      </div>
   </div>
</section>


