<div *ngIf="preloadimg" class="preloadingimg"><img src="./assets/images/icons/preloader.gif"></div>
<section class="inner-banner">
<div class="page-title" style="background-image:url(./assets/images/background/page-title-1.jpg);">
<!--Header-Lower-->
        <div class="auto-container">
            <div class="row clearfix">
                <!--Title -->
                <div class="title-column col-sm-12 col-xs-12">
                    <h1>Manage Services</h1>
                </div>
            </div>
        </div>
    </div>
    </section>


<section id="" class="no_padding services-listing-bar book-service-bar">
  <div class="book-services-category">
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" (click)="changeActiveTab('0')" [ngClass]="{'active' : activeTab == 0}">New</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="changeActiveTab('1')" [ngClass]="{'active' : activeTab == 1}">Scheduled</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="changeActiveTab('2')" [ngClass]="{'active' : activeTab == 2}">Completed</a>
        </li>
      </ul>


<div class="tab-content">
   <div class="tab-pane" id="new">
      <div class="wrapper no-space">
         <ul class="services-listing-wrap">
            <!----><!---->
            <li class="ng-star-inserted">
               <div class="service-listing">
                  <div class="services-provider-icon"><img alt="img" title="img" src="./assets/images/logo-small.png"></div>
                  <div class="services-provider-shortdetail">
                     <div class="detail">
                        <div class="left mr-auto">
                           <h3 _ngcontent-c4="">Joseph Linksman</h3>
                           <p _ngcontent-c4="">Fundraising</p>
                           <span class="location-area"><i aria-hidden="true" class="fa fa-map-marker"></i> Los Angeles, CA, USA</span><span class="end-date"><i aria-hidden="true" class="fa fa-calendar"></i><b _ngcontent-c4=""></b></span><!----><!----><!---->
                        </div>
                        <!---->
                        <div class="right ml-auto ng-star-inserted"><button class="btn request-btn" type="button"><i class="fa fa-remove"></i> Decline</button><button class="btn book-btn" type="button"><i aria-hidden="true" class="fa fa-check"></i> Accept</button></div>
                        <!---->
                     </div>
                  </div>
               </div>
            </li>
            <li class="ng-star-inserted">
               <div class="service-listing">
                  <div class="services-provider-icon"><img alt="img" title="img" src="./assets/images/logo-small.png"></div>
                  <div class="services-provider-shortdetail">
                     <div class="detail">
                        <div class="left mr-auto">
                           <h3 _ngcontent-c4="">James Phillips</h3>
                           <p _ngcontent-c4="">Rental Loans</p>
                           <span class="location-area"><i aria-hidden="true" class="fa fa-map-marker"></i> Los Angeles, CA, USA</span><span class="end-date"><i aria-hidden="true" class="fa fa-calendar"></i><b _ngcontent-c4=""></b></span><!----><!----><!---->
                        </div>
                        <!---->
                        <div class="right ml-auto ng-star-inserted"><button class="btn request-btn" type="button"><i class="fa fa-remove"></i> Decline</button><button class="btn book-btn" type="button"><i aria-hidden="true" class="fa fa-check"></i> Accept</button></div>
                        <!---->
                     </div>
                  </div>
               </div>
            </li>
            <li class="ng-star-inserted">
               <div class="service-listing">
                  <div class="services-provider-icon"><img alt="img" title="img" src="./assets/images/logo-small.png"></div>
                  <div class="services-provider-shortdetail">
                     <div class="detail">
                        <div class="left mr-auto">
                           <h3 _ngcontent-c4="">Andre L</h3>
                           <p _ngcontent-c4="">Construction</p>
                           <span class="location-area"><i aria-hidden="true" class="fa fa-map-marker"></i> Los Angeles, CA, USA</span><span class="end-date"><i aria-hidden="true" class="fa fa-calendar"></i><b _ngcontent-c4="">Nov 6, 2018, 3:30:00 PM</b></span><!----><!----><!---->
                        </div>
                        <!---->
                        <div class="right ml-auto ng-star-inserted"><button class="btn request-btn" type="button"><i class="fa fa-remove"></i> Decline</button><button class="btn book-btn" type="button"><i aria-hidden="true" class="fa fa-check"></i> Accept</button></div>
                        <!---->
                     </div>
                  </div>
               </div>
            </li>
            <li class="ng-star-inserted">
               <div class="service-listing">
                  <div class="services-provider-icon"><img alt="img" title="img" src="./assets/images/logo-small.png"></div>
                  <div class="services-provider-shortdetail">
                     <div class="detail">
                        <div class="left mr-auto">
                           <h3 _ngcontent-c4="">Andre L</h3>
                           <p _ngcontent-c4="">Pool Installation</p>
                           <span class="location-area"><i aria-hidden="true" class="fa fa-map-marker"></i> Los Angeles, CA, USA</span><span class="end-date"><i aria-hidden="true" class="fa fa-calendar"></i><b _ngcontent-c4="">Nov 5, 2018, 12:00:00 AM</b></span><!----><!----><!---->
                        </div>
                        <!---->
                        <div class="right ml-auto ng-star-inserted"><button class="btn request-btn" type="button"><i class="fa fa-remove"></i> Decline</button><button class="btn book-btn" type="button"><i aria-hidden="true" class="fa fa-check"></i> Accept</button></div>
                        <!---->
                     </div>
                  </div>
               </div>
            </li>
            <li class="ng-star-inserted">
               <div class="service-listing">
                  <div class="services-provider-icon"><img alt="img" title="img" src="./assets/images/logo-small.png"></div>
                  <div class="services-provider-shortdetail">
                     <div class="detail">
                        <div class="left mr-auto">
                           <h3 _ngcontent-c4="">Josh Klumb</h3>
                           <p _ngcontent-c4="">Home Purchase</p>
                           <span class="location-area"><i aria-hidden="true" class="fa fa-map-marker"></i> Los Angeles, CA, USA</span><span class="end-date"><i aria-hidden="true" class="fa fa-calendar"></i><b _ngcontent-c4=""></b></span><!----><!----><!---->
                        </div>
                        <!---->
                        <div class="right ml-auto ng-star-inserted"><button class="btn request-btn" type="button"><i class="fa fa-remove"></i> Decline</button><button class="btn book-btn" type="button"><i aria-hidden="true" class="fa fa-check"></i> Accept</button></div>
                        <!---->
                     </div>
                  </div>
               </div>
            </li>
            <li class="ng-star-inserted">
               <div class="service-listing">
                  <div class="services-provider-icon"><img alt="img" title="img" src="./assets/images/logo-small.png"></div>
                  <div class="services-provider-shortdetail">
                     <div class="detail">
                        <div class="left mr-auto">
                           <h3 _ngcontent-c4="">Rajesh Meena</h3>
                           <p _ngcontent-c4="">Property Management</p>
                           <span class="location-area"><i aria-hidden="true" class="fa fa-map-marker"></i> United States</span><span class="end-date"><i aria-hidden="true" class="fa fa-calendar"></i><b _ngcontent-c4=""></b></span><!----><!----><!---->
                        </div>
                        <!---->
                        <div class="right ml-auto ng-star-inserted"><button class="btn request-btn" type="button"><i class="fa fa-remove"></i> Decline</button><button class="btn book-btn" type="button"><i aria-hidden="true" class="fa fa-check"></i> Accept</button></div>
                        <!---->
                     </div>
                  </div>
               </div>
            </li>
            <li class="ng-star-inserted">
               <div class="service-listing">
                  <div class="services-provider-icon"><img alt="img" title="img" src="./assets/images/logo-small.png"></div>
                  <div class="services-provider-shortdetail">
                     <div class="detail">
                        <div class="left mr-auto">
                           <h3 _ngcontent-c4="">Rajesh Meena</h3>
                           <p _ngcontent-c4="">Canada Property Management</p>
                           <span class="location-area"><i aria-hidden="true" class="fa fa-map-marker"></i> Canada</span><span class="end-date"><i aria-hidden="true" class="fa fa-calendar"></i><b _ngcontent-c4=""></b></span><!----><!----><!---->
                        </div>
                        <!---->
                        <div class="right ml-auto ng-star-inserted"><button class="btn request-btn" type="button"><i class="fa fa-remove"></i> Decline</button><button class="btn book-btn" type="button"><i aria-hidden="true" class="fa fa-check"></i> Accept</button></div>
                        <!---->
                     </div>
                  </div>
               </div>
            </li>
            <li class="ng-star-inserted">
               <div class="service-listing">
                  <div class="services-provider-icon"><img alt="img" title="img" src="./assets/images/logo-small.png"></div>
                  <div class="services-provider-shortdetail">
                     <div class="detail">
                        <div class="left mr-auto">
                           <h3 _ngcontent-c4="">Jessica Paz</h3>
                           <p _ngcontent-c4="">Property Management</p>
                           <span class="location-area"><i aria-hidden="true" class="fa fa-map-marker"></i> United States</span><span class="end-date"><i aria-hidden="true" class="fa fa-calendar"></i><b _ngcontent-c4=""></b></span><!----><!----><!---->
                        </div>
                        <!---->
                        <div class="right ml-auto ng-star-inserted"><button class="btn request-btn" type="button"><i class="fa fa-remove"></i> Decline</button><button class="btn book-btn" type="button"><i aria-hidden="true" class="fa fa-check"></i> Accept</button></div>
                        <!---->
                     </div>
                  </div>
               </div>
            </li>
            <li class="ng-star-inserted">
               <div class="service-listing">
                  <div class="services-provider-icon"><img alt="img" title="img" src="./assets/images/logo-small.png"></div>
                  <div class="services-provider-shortdetail">
                     <div class="detail">
                        <div class="left mr-auto">
                           <h3 _ngcontent-c4="">Johnnie Mincy</h3>
                           <p _ngcontent-c4="">Property Management</p>
                           <span class="location-area"><i aria-hidden="true" class="fa fa-map-marker"></i> United States</span><span class="end-date"><i aria-hidden="true" class="fa fa-calendar"></i><b _ngcontent-c4=""></b></span><!----><!----><!---->
                        </div>
                        <!---->
                        <div class="right ml-auto ng-star-inserted"><button class="btn request-btn" type="button"><i class="fa fa-remove"></i> Decline</button><button class="btn book-btn" type="button"><i aria-hidden="true" class="fa fa-check"></i> Accept</button></div>
                        <!---->
                     </div>
                  </div>
               </div>
            </li>
         </ul>
      </div>
   </div>
</div>

    </div>
  </div>
</section>
